.report_box { font-size: .24rem;}
.report_center { display: block; text-align: center;}
.center_name { margin: .4rem auto .2rem; font-weight: bold;}
.ratio_box { margin-top: .4rem;}
.ratio_box .chart { width: 33.33%; float: left; text-align: center; position: relative;}
.ratio_box .chart .label { margin-top:.4rem ;}
.easyPieChart { color: #C9C9CA; font-style: italic; position: relative; text-align: center; left: 0;right: 0;top: 0; margin:  0 auto;}
.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.report_big{float: left; width: 100%;}
.report_big .re_here_title { font-size: .32rem; display: block; text-align: center; font-weight: bold; margin: .88rem auto .4rem;}
.report_here img { float: left; width: 100%;}
.report_mesg { float: left; width: 92%; padding: 0 4%; margin-top: .2rem; line-height: 150%; color: #999999;}
.report_here { float: left; width: 100%; clear: both; position: relative;}
.tj_btn { width: 84%; float: left; clear: both; margin:.8rem 8%; height: .88rem; background: #FF4E38; color: #FFFFFF; font-size: .28rem; text-align: center; line-height: .88rem;}

.circliful {
    position: relative; 
        left: 0;
    right: 0;
    margin: 0 auto;
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}

.circle-info, .circle-info-half {
	color: #999;
}

.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px;
}

.circle-info { margin-top: 105px; font-size: .28rem; color:#333333; line-height: 0 !important;}
.circle-text { color: #999999; font-size: 14px !important;}

/*环形统计*/
            
            .cicle {
                position: relative;
                margin: 0px auto;
                width: 60px;
                height: 60px;
                border-width: 10px;
                border-color: #EEEFEF;
                border-style: solid;
                border-radius: 50%;
            }
            .cicle .bar {
                position: absolute;
                width: 40px;
                height: 80px;
                overflow: hidden;
            }
            .cicle .bar-left {
                top: -10px;
                left: -10px;
            }
            .cicle .bar-left .bar-left-an{
                position: absolute;
                z-index: 10;
                width: 60px;
                height: 60px;
                border-width: 10px;
                border-color: transparent transparent #ff4e38 #ff4e38;
                border-style: solid;
                border-radius: 50%;
                transform: rotate(-135deg);
            }
            .cicle .bar-right {
                top: -10px;
                left: 30px;
            }
            .cicle .bar-right .bar-right-an {
                position: absolute;
                left: -40px;
                z-index: 20;
                width: 60px;
                height: 60px;
                border-width: 10px;
                border-color: #ff4e38 #ff4e38 transparent transparent;
                border-style: solid;
                border-radius: 50%;
                transform: rotate(-135deg);
            }
            .cicle .tx {
                position: absolute;
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                font-size: 12px;
                font-weight: 800;
                color: #C9C9CA;
            }
            	.title_style { margin-top: 20px;}
















